*{
    margin: 0;
    padding:0;
    border:0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: rgba(0, 0, 0, 0.333);
    width: 100%;
    height: 50%;
    box-shadow: 1px 1px 5px #000;
}


a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(84, 48, 35, 0.717);
    font: 13px verdana;
    padding: 13px;
}

#menu{
    width: 60%;
    padding: 10px;
    margin: auto;
}

body{
    background-color: rgb(212, 208, 208);
}

ul li{
    font: 13px verdana;
    display: inline-block;
    padding: 13px;
}

.Texto1{
    padding-left: 30px;
    padding-top: 6px;
}

.Texto2{
    padding-left: 30px;
    padding-top: 6px;
}

.Luces{
    color: rgb(75, 0, 96);
    background-color: rgba(95, 95, 95, 0.717);
    font: 13px verdana;
    padding: 20px;
}

/* footer{
    border: 3px;
    background-color: rgba(0, 0, 0, 0.333);
    padding-top: 20px;
    padding-block: 20px;
    padding-left: 20px;
}

.footer{
     color: rgb(75, 0, 96);
     font: 16px arial;
     padding: 1px;
} */