<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/depositphotos_388215936-stock-illustration-a-logo-of-plumber-or.jpg" type="image/x-icon">
    <title>Ferreteria Lucas</title>
    <link rel="stylesheet" href="../style/contacto.css">
    <link rel="stylesheet" href="../style/bootstrap.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                </a>
                <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../index.html">Inicio</a>
                    <a class="nav-link " href="./herramientas.html">Herramientas</a>
                    <a class="nav-link" href="./sanitarios.html">Sanitarios</a>
                    <a class="nav-link" href="./pintura.html">Pinturas</a>
                    <a class="nav-linkactive" aria-current="page" href="./contacto.html">Contacto</a>
                </div>
                </div>
            </div>
            </nav>    </header>
    <main>
        <div class="Contacto">
            <h1>Contacto</h1>
            <img src="../img/contacto.jpg" alt="luz">
        </div>
    </main>
        <footer class="bg-dark text-white">
            <div class="footer">
                <p>Facebook: Ferreteria Lucas</p>
                <p>Nos encontraras de Lunes a Sabado de 8:30hs a 18:00hs</p>
                <p>Moreno Buenos Aires</p>
            </div>
        </footer>
</body>
</html>