<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/depositphotos_388215936-stock-illustration-a-logo-of-plumber-or.jpg" type="image/x-icon">
    <title>Ferreteria Lucas</title>
    <link rel="stylesheet" href="../style/pintura.css">
</head>
<body>
    <header>
        <nav id="menu">
            <ul>
                <li>
                    <a href="./sanitarios.html">Sanitarios</a>
                </li>
                <li>
                    <a href="./iluminacion.html">Iluminacion</a>
                </li>
                <li>
                    <a href="./herramientas.html">Herramientas</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="../index.html">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="Inicio">
            <h1>Inicio</h1>
            <img src="../img/pintura2.jpg" alt="luz">
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>Facebook: Ferreteria Lucas</p>
            <p>Nos encontraras de Lunes a Sabado de 8:30hs a 18:00hs</p>
            <p>Moreno Buenos Aires</p>
        </div>
    </footer>
</body>
</html>